#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:none;
    height:300px;
    width:100px;
    float:right;
    padding:5px;
}
#section {
    width:1000px;
    float:left;
    padding:2px;
    margin:50px;
    border: 15px solid black;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover, a:active   { background-color: #FFA500;
}

p { text-align: center }
